version: "3.8"

services:
    frontend:
        build: ./frontend
        container_name: crud-frontend-img
        env_file: .env
        ports:
            - "5173:5173"
        depends_on:
            - backend
    backend:
        build: ./backend
        container_name: crud-backend-img
        env_file: .env
        environment:
            - DB_HOST=db
        ports:
            - "3001:3001"
        depends_on:
            - db
    db:
        image: postgres:16-alpine
        container_name: moja-baza-postgres
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        ports:
            - "5432:5432"
        volumes:
            - ./pg_data:/var/lib/postgresql/data
        # restart: always
